{include file="public/page_head.html"}
{insert_scripts files="../../files/js/xheditor/xheditor-1.1.14-zh-cn.min.js"}
<div class="easyui-tabs" data-options="fit:true,border:false">
	<div title="{$html_title}" style="padding:20px;overflow:auto;">
		<div style="margin-top:5px;">
			<form method="post" action="?act=admin_question&st=edit_question_info" id="websit_config">
				<div id="stypestate" style="">
					<h2 class="h1">{$html_title}</h2>
					<div class="admin_table mb10">
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr class="tr1 vt">
								<td class="td1">问题</td>
								<td class="td2">
								{$ask}
								</td>
							</tr>
							<tr class="tr1 vt">
								<td class="td1">回答</td>
								<td class="td2">	
								<input type="hidden" value="{$id}" name="c_id" />							
								<textarea name="answer" style="width:700px; height:300px;">{$answer}</textarea></td>
							</tr>
							<tr>
								<td class="td1"></td>
								<td class="td2">
								
								</td>
							</tr>
						</table>
					</div>
					<div class="tac mb10">
						<span class="btn" id="submit"><span> <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">递交</a> </span></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{insert_scripts files="../../files/admin/js/article/article_add.js"}
{include file="public/page_foot.html"}