{include file="public/page_head.html"}
<link href="../../files/css/index.css" rel="stylesheet" type="text/css" />
    <div id="header"></div>
    <div id="main">	
        <div class="main_left">
        </div>
        <div class="main_right"></div>
         <div id="mainContent">
         	 <div id="main_head">
            	<a href="#">网络学院首页</a>|&nbsp;<a href="#">联系我们</a>
            </div>
            <div class="main_title">首页 > 网络学院 > 成就之路</div>
            <div id="content">	
                <div class="cont_head"></div>
                <div id="cont_left">
                	<span>查看课程 >> 暇满难得</span>
                	<div class="cont_fg" ></div>
                	<table><tr><td>第一课</td><td>视频  下载</td><td>音频  下载</td><td>文档  下载</td><td>在线播放</td></tr><tr><td>第二课</td><td>视频  下载</td><td>音频  下载</td><td>文档  下载</td><td>在线播放</td></tr><tr><td>第三课</td><td>视频  下载</td><td>音频  下载</td><td>文档  下载</td><td>在线播放</td></tr><tr><td>第四课</td><td>视频  下载</td><td>音频  下载</td><td>文档  下载</td><td>在线播放</td></tr></table>
                    <span>查看课程 >> 寿命无常</span>
                	<div class="cont_fg" ></div>
                	<table><tr><td>第一课</td><td>视频  下载</td><td>音频  下载</td><td>文档  下载</td><td>在线播放</td></tr><tr><td>第二课</td><td>视频  下载</td><td>音频  下载</td><td>文档  下载</td><td>在线播放</td></tr><tr><td>第三课</td><td>视频  下载</td><td>音频  下载</td><td>文档  下载</td><td>在线播放</td></tr><tr><td>第四课</td><td>视频  下载</td><td>音频  下载</td><td>文档  下载</td><td>在线播放</td></tr></table>
                    <span>查看课程 >> 轮回过患</span>
                	<div class="cont_fg" ></div>
                	<table><tr><td>第一课</td><td>视频  下载</td><td>音频  下载</td><td>文档  下载</td><td>在线播放</td></tr><tr><td>第二课</td><td>视频  下载</td><td>音频  下载</td><td>文档  下载</td><td>在线播放</td></tr><tr><td>第三课</td><td>视频  下载</td><td>音频  下载</td><td>文档  下载</td><td>在线播放</td></tr><tr><td>第四课</td><td>视频  下载</td><td>音频  下载</td><td>文档  下载</td><td>在线播放</td></tr></table>
                    
                </div>
                <div id="cont_right"> 
                	<div class="cont_right_img" />
                </div>
                <div class="cont_footer"></div>
                 
            </div>
            <div id="main_foo_img"></div>
            <div id="main_footer">
            <a href="#">网络学院首页</a>&nbsp;|&nbsp;<a href="#">联系我们</a>
            </div>
            <div class="clear-float"></div>
        </div>
    </div>
{include file="public/page_foot.html"}