{include file="public/page_head.html"}
<link href="../../files/css/part.css" rel="stylesheet" type="text/css" />
<div class='body'>
<div class="body_back">
  <div class="banner_no1"></div>
  <div class="top_route"> <a href="./">首页</a> -> {$webname} -> {$part_name} </div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="top"><div class='cj_top'></div>
        <div class="cj_body">
          <h1>查看课程 >> xxxxx</h1>
          <table class="cj_list" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>第一课</td>
              <td>视频 >> <a href="#">下载</a></td>
              <td>音频 >> <a href="#">下载</a></td>
              <td>文件 >> <a href="#">下载</a></td>
              <td width="80" align="right">在线播放 >></td>
              <td width="40" align="left"><a href="#"><img src="../files/images/part_r5_c7.jpg" /></a></td>
            </tr>
            <tr>
              <td>第一课</td>
              <td>视频 >> <a href="#">下载</a></td>
              <td>音频 >> <a href="#">下载</a></td>
              <td>文件 >> <a href="#">下载</a></td>
              <td width="80" align="right">在线播放 >></td>
              <td width="40" align="left"><a href="#"><img src="../files/images/part_r5_c7.jpg" /></a></td>
            </tr>
          </table>
        </div>
        <div class='cj_foot'></div></td>
      <td valign="top">
      <div class="cj_right_top"></div>
      </td>
    </tr>
  </table>
  <div class="part_banner_no1"></div>
  {include file="public/page_foot1.html"} </div>
{include file="public/page_foot.html"}