{include file="public/page_head.html"}
<link href="../../files/css/article.css" rel="stylesheet" type="text/css" />
<div class='body'>
<div class="body_back">

  <div style="background-color:#0169be">
  <div class="left_top"><a href="#">首页</a> >> <a href="./">{$webname}</a> >> 戒律自查
  </div>
  <div>
  <img src="../files/images/selfexamination_r2_c2.gif" />
  </div>
  <div class="part_banner_no1"></div>
  {include file="public/page_foot1.html"} </div>
  {insert_scripts files="../files/js/article.js"}
{include file="public/page_foot.html"}