<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../files/css/reset.css" rel="stylesheet" type="text/css" />
<link href="../../files/js/jquery.easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="../../files/js/jquery.easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<link href="../../files/css/default.css" rel="stylesheet" type="text/css" />
<link href="../../files/css/convert.css" rel="stylesheet" type="text/css" />
{insert_scripts files="../files/js/jquery.min.js"}
<script type="text/javascript" src="../files/js/jquery.easyui/jquery.easyui.min.js"></script> 
<script type="text/javascript" src="../files/js/jquery.easyui/locale/easyui-lang-zh_CN.js"></script>
<title>{$webtitle}</title>
</head><body>
<div id="c_index_body">
<div id="c_div_body">
<div id="c_top_img"></div>
<div style="display:none;"><img src="../files/images/cms_r4_c3.jpg" usemap="#Map" border="0" />
  <map name="Map" id="Map">
    <area shape="rect" coords="67,18,157,62" href="{$cms_web_host}" />
    <area shape="rect" coords="168,19,250,62" href="{$cms_web_host}/Category_37/Index.aspx" />
    <area shape="rect" coords="261,14,347,61" href="#" />
    <area shape="rect" coords="357,19,473,61" href="#" />
    <area shape="rect" coords="485,20,565,61" href="{$cms_web_host}/Category_3/Index.aspx" />
    <area shape="rect" coords="575,19,657,61" href="#" />
    <area shape="rect" coords="668,20,758,62" href="{$cms_web_host}/Category_6/Index.aspx" />
    <area shape="rect" coords="769,19,851,65" href="{$cms_web_host}/Category_188/Index.aspx" />
    <area shape="rect" coords="861,15,952,63" href="#" />
  </map>
</div>
<div class="c_banner_1">{$webtitle}</div>
<div id="c_body_table">
