<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../files/css/reset.css" rel="stylesheet" type="text/css" />
<link href="../../files/js/jquery.easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="../../files/js/jquery.easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<link href="../../files/css/default.css" rel="stylesheet" type="text/css" />
{insert_scripts files="../files/js/jquery.min.js"}
<script type="text/javascript" src="../files/js/jquery.easyui/jquery.easyui.min.js"></script> 
<script type="text/javascript" src="../files/js/jquery.easyui/locale/easyui-lang-zh_CN.js"></script>
<title>{$webtitle} {$html_title}</title>
</head>
<body class="body-bg">
<div id="header"></div>